
.vs/*
.vs/Emne3/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/Emne3/FileContentIndex/60ad539e-c2e6-4df5-908d-baa7a57be93d.vsidx
.vs/slnx.sqlite
.vs/Emne3/FileContentIndex/474eac6e-4b7d-4b57-a776-f647e94e2de1.vsidx
